{%extends "base.html"%}
{% load static %}
{% block title %}Обо мне{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static 'image/profile.png' %}" class="rounded-circle" alt="Profile" width="150">
            </div>
            <div class="col-md-8">
                <h1>Обо мне</h1>
                <p class="lead">Привет меня зовут Aben и я в 10 классе , учусь в школе itstep,хочу связать жизнь с програмированием</p>
                <p>Люблю футбол. Фанат челси</p>
            </div>
        </div>
    </div>
{% endblock content %}